dn: dc=hadoop,dc=com
dc: {{ dcBase }}
objectClass: top
objectClass: domain

dn: ou=People,dc=hadoop,dc=com
ou: People
objectClass: top
objectClass: organizationalUnit

dn: ou=Group,dc=hadoop,dc=com
ou: Group
objectClass: top
objectClass: organizationalUnit