dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcSuffix
olcSuffix: dc={{ dcBase }},dc=hdp

dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcRootDN
olcRootDN: cn=Manager,dc={{ dcBase }},dc=hdp

dn: olcDatabase={2}hdb,cn=config
changetype: modify
add: olcRootPW
olcRootPW: {{ secretePassword.stdout }}

dn: cn=config
changetype: modify
add: olcTLSCertificateFile
olcTLSCertificateFile: /etc/openldap/certs/cert.pem

dn: cn=config
changetype: modify
add: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: /etc/openldap/certs/priv.pem

dn: cn=config
changetype: modify
add: olcLogLevel
olcLogLevel: -1

dn: olcDatabase={1}monitor,cn=config
changetype: modify
add: olcAccess
olcAccess: {0}to * by dn.base="gidNumber=0+uidNumber=0,cn=peercred,cn={{ dcBase }},cn=auth" read by dn.base="cn=Manager,dc={{ dcBase }},dc=hdp" read by * none
